<!--The only thing we need to retain is our Jinja for-loop of tasks from the database.
In order to display this from within our base template, we need to extend this file from
the base.html, wrapped in quotes.
Then, we need to tell the base template which block element we're injected our code into,
and in our case, it's block content . Again, be sure to always include your closing
endblock .-->

{% extends "base.html" %}
{% block content %}

    <h2>I'm extending the base template!</h2>

    {% for task in tasks %}
        {{ task.task_name }}<br>
        {{ task.category_name }}<br>
        {{ task.task_description }}<br>
        {{ task.is_urgent }}<br>
        {{ task.due_date }}<br>
    {% endfor %}

{% endblock %}